<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || 'RavaaPOS' %></title>

    <link rel="stylesheet" href="/icons/tabler-icons.min.css">
    <link rel="stylesheet" href="/css/tabler.min.css" />
</head>
