<header class="navbar navbar-expand-md d-print-none">
    <div class="container-xl">
        <div class="navbar-nav flex-row ms-auto">
        
        <!-- Search -->
        <div class="nav-item">
            <form class="d-none d-md-block me-3">
            <input type="search" class="form-control form-control-sm" placeholder="Cari..." />
            </form>
        </div>

        <!-- Notifikasi -->
        <a href="#" class="nav-link me-3" title="Notifikasi">
            <i class="ti ti-bell icon"></i>
        </a>

        <!-- User Dropdown -->
        <div class="nav-item dropdown">
            <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown">
            <span class="avatar avatar-sm">U</span>
            <div class="d-none d-xl-block ps-2">
                <div>User</div>
                <div class="mt-1 small text-muted">Admin</div>
            </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a href="#" class="dropdown-item">
                <i class="ti ti-logout me-2"></i> Logout
            </a>
            </div>
        </div>

        </div>
    </div>
</header>
