<!-- Toast Template Hidden -->
<div id="baseToastTemplate" class="d-none">
  <div class="bs-toast toast fade" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class="bx me-2 toast-icon"></i>
      <div class="me-auto fw-semibold toast-title">Title</div>
      <small class="toast-time">Just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Message body here</div>
  </div>
</div>
