<div class="card">
    <div class="card-header">
        <div class="d-flex flex-wrap justify-content-between mb-3">
        <div class="d-flex gap-2">
            <div class="me-2">
            <input type="text" id="searchCategory" class="form-control" placeholder="Cari Kategori...">
            </div>
            <button class="btn btn-outline-secondary" id="resetFilter"><i class="bx bx-sync"></i> Reset</button>
        </div>
        <div class="gap-2">
            <small class="text-muted">Press <kbd>Alt</kbd> + <kbd>N</kbd> to add</small>
            <a href="/purchasing/create" class="btn btn-primary">
                <i class="bx bx-plus"></i> Buat Purchasing Baru
            </a>
        </div>
        </div>
    </div>
    <div class="card-body">
        <%- include('_tbody', { purchasings, pagination }) %>
    </div>
</div>

<script type="module" src="/assets/js/pages/purchasing_index.js"></script>
<script>
    document.addEventListener('keydown', function (e) {
        // Cegah jika user sedang mengetik di input
        const isInputFocused = document.activeElement.tagName === 'INPUT' ||
            document.activeElement.tagName === 'TEXTAREA' ||
            document.activeElement.isContentEditable;
        if (isInputFocused) return;

        // Shortcut: Alt + N (new)
        if (e.altKey && e.key.toLowerCase() === 'n') {
            e.preventDefault();

            // Langsung navigasi ke halaman create purchasing
            const linkNewPage = document.querySelector('a[href="/purchasing/create"]');
            if (linkNewPage) {
                window.location.href = linkNewPage.href;
            }
        }
    });
</script>