<div class="card">
  <div class="card-header">
    <div class="d-flex flex-wrap justify-content-between mb-3">
      <div class="d-flex gap-2">
        <div class="me-2">
          <input type="text" id="searchCategory" class="form-control" placeholder="Cari Kategori...">
        </div>
        <button class="btn btn-outline-secondary" id="resetFilter"><i class="bx bx-sync"></i> Reset</button>
      </div>
      <div class="gap-2">
        <small class="text-muted">Press <kbd>Alt</kbd> + <kbd>N</kbd> to add</small>
        <button class="btn btn-primary" id="btnOpenModalCreate" data-bs-toggle="modal" data-bs-target="#modalCreate" title="Add Category (Alt+N)">
          + Add Category
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%- include('_partial', { categories, pagination }) %>
  </div>
</div>

<div class="modal fade" id="modalCreate" tabindex="-1">
  <div class="modal-dialog">
    <form id="formCreateCategory" class="modal-content" action="/categories" method="POST">
      <div class="modal-header">
        <h5 class="modal-title">Tambah Kategori</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input type="text" name="name" class="form-control" placeholder="Nama kategori" required>
        </div>
        <div class="mb-0">
          <label for="categoryPrefix" class="form-label">Prefix Kode (mis. EL, MN)</label>
          <input type="text" class="form-control" id="categoryPrefix" name="prefix" required maxlength="5">
          <div class="invalid-feedback" id="prefixError">Prefix harus 2-5 huruf kapital.</div>
          <div class="form-text">Digunakan untuk generate kode produk</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Simpan</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1">
  <div class="modal-dialog">
    <form id="formEditCategory" class="modal-content" method="POST">
      <div class="modal-header">
        <h5 class="modal-title">Edit Kategori</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input type="text" name="name" id="editName" class="form-control" required>
        </div>
        <div class="mb-0">
          <input type="hidden" id="editPrefix" name="prefix">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>

<script type="module" src="/assets/js/pages/categories.js"></script>
<script type="module" src="/assets/js/utils/shortcut.js"></script>
