<!-- Modal Detail Customer -->
<div class="modal fade" id="modalDetailCustomer" tabindex="-1" aria-labelledby="modalDetailCustomerLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalDetailCustomerLabel">Detail Customer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Tutup"></button>
        </div>
        <div class="modal-body">
            <div class="row g-3">
            <div class="col-md-6">
                <p><strong>Nama:</strong> <span id="detailName">-</span></p>
                <p><strong>Email:</strong> <a href="#" id="detailEmail">-</a></p>
                <p><strong>Telepon:</strong> <span id="detailPhone">-</span></p>
            </div>
            <div class="col-md-6">
                <p><strong>Tipe:</strong> <span id="detailType">-</span></p>
                <p><strong>Status:</strong> <span id="detailStatus">-</span></p>
                <p><strong>Tanggal Lahir:</strong> <span id="detailBirthdate">-</span></p>
            </div>
            <div class="col-12">
                <p><strong>Alamat:</strong></p>
                <div class="border rounded p-2 bg-light" id="detailAddress">-</div>
            </div>
            <div class="col-12">
                <p><strong>Catatan:</strong></p>
                <div class="border rounded p-2 bg-light" id="detailNote">-</div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
